<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Range</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="heading">
        <h1>GIVE ME SOME DETAILS FIRST</h1>
    </div>
    <div class="container">
        <div class="inp">
            <form action="/pred" method="POST">
                <span>RAM</span><input type="text" id="" name="rm" class="no-outline"><br>
                <span>Pixel Width</span><input type="text" id="" name="pw" class="no-outline"><br>
                <span>Pixel Height</span><input type="text" id="" name="ph" class="no-outline"><br>
                <span>Battery Capacity</span><input type="text" id="" name="bc" class="no-outline"><br>
                <span>Internal Storage</span><input type="text" id="" name="is" class="no-outline"><br>
            </form>
            <input type="submit" value="Predict" id="predict" class="smt">
        </div>
        <div class="line"></div>
        <div class="out">
            <p>It's a</p>
            <h2> {{result}} </h2>
        </div>
    </div>
    <div class="h"></div>
    <footer>🍁ganja-ganja</footer>
</body>

</html>